.app {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-panel {
    margin-top: 30px;
    padding:1.4rem 3rem 1rem 3rem;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border-radius: 8px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.756);
}

.filter-panel {
    margin-top: 30px;
}

.employee-list {
    margin-top: 30px;
}

.add-form {
    margin-top: 10px;
    margin-bottom: 30px;
}
