.cart-item-holder {
    width: 380px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
}
.cart-image-holder {
    width: 80px;
    height: 80px;
}
.cart-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-item-info {
    margin-left: 8px;
    text-align: left;
}

.cart-item-info> p {
    margin-top: 1px;
}
.item-brand {

}
.item-name {

}
.item-price {

}
.item-id {

}

.show {
    display: flex;
}

.hide {
    display: none;
}