.main-nav-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.nav_box{
    padding-left: 20px;
    padding-right: 20px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
.my_shop {

}

.categories {
    display: flex;
}

.category-item {
    margin: 0 1rem;
    cursor: pointer;
}
.cart {
    display: flex;
}
.cart-item {

}

.curency-item {
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}
.cart-count {
    background-color: red;
    color: white;
    font-size: 12px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left:2px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 20px;
    left: -90px;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid black;
}
.modal-holder {

}
.modal-item {
    margin: 1rem;
    border-bottom: 1px solid black;
    list-style: none;
}
.modal-item > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-weight: 800;
}

.modal-item > button:focus {
    color: #5f0a87;
}

.modal-item > button:hover {
    transform: scale(1.15) translateZ(0);
}
.modal-item {

}
.closeBtn {
    position: absolute;
    top: 0;
    left: 80%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.492);
}

.cart-modal {
    background:rgb(126, 71, 168);
    max-width: 400px;
    position: absolute;
    right: 50px;
}